
<main class="main">
  <div class="content">
    <div class="container-fluid">
      <div class="row" style="margin-top: 60px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="align-items: center;">
          <p style="font-size: 180px; text-align: center; color: yellow;">Luna</p>
        
        </div>
        <div class="col-md-3">

        </div>

      </div>
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
          <img src="../assets/luna2.png" style="max-width: 100%;">
        </div>
        <div class="col-md-5">
          <p style="font-size:45px; color: black">
            Luna, from Sailormoon, is a cute black cat with a crescent moon on her forehead. 
            She's not just adorable but also wise and loyal, guiding the Sailor Guardians in 
            their mission to protect the world. Luna's charm lies in her caring nature and 
            unwavering dedication to her friends, making her a beloved character among fans worldwide.
          </p>
        </div>
        <div class="col-md-1">

        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <p style="font-size: 80px; text-align: center;"><a href="https://t.me/lunatokenonsolana" rel="noopener noreferrer" target="_blank">Telegram</a></p>

        </div>
        <div class="col-md-3">
          <p style="font-size: 80px; text-align: center;"><a href="https://twitter.com/LunaOnSolana" rel="noopener noreferrer" target="_blank">Twitter</a></p>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
</main>


<router-outlet />
